*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Lato", sans-serif;
    font-size: 13px;
}


main{
    background-color: #DBDBD3;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}



/* container generale app  */

#app {
    display: flex;
    width: 80%;
    height: 85%;
}
/* sezione Sidebar  */
.sidebar {
    width: 30%;
    background-color: #eaeaea;
    display: flex;
    flex-direction: column;
    border-right: #B1B1BB solid 1px; 
}
/* sezione profilo utente ed avatar*/
.profile {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    position: relative;
    margin-left: 10px;
    margin-top: 5px;
}

.avatar {
    width: 40px;
    height:40px;
    background-color: #ccc;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    margin-right: 10px;
    object-fit: contain;
}

.avatar img {
    max-width: 100%;
    width: 100px;
    height: 70%;
    object-fit: cover;
}

/* gestione icone  */
    /* icone profilo sidebar */
.profile-icons {
    display: flex;
    gap: 10px;
    position: absolute;
    right: 0;
    margin-right: 10px;
    color: #B1B1B1;
    
}

i{
    
    font-size: 15px;
}

i:hover {
    color: #333;
}

/* icone Chat */
.chat-icons-sidebar{
    display: flex;
    gap: 10px;
    position: absolute;
    right: 0;
    margin-right: 10px;
    color: #B1B1B1;
}

/* icone chat input */
    /* icon before */
.before, .after{
    display: flex;
    align-items: center;
    font-size: 18px;
    color: #6B7376;
    
}

.before{
    padding-left: 15px;
    margin-right: 20px;
}

.after{
    padding-right: 15px;
    margin-left: 20px;
}

.top{
    margin-right: 2px;
}




/* sezione notifiche */
.notifications {
    display: flex;
    background-color: #8EDAFC;
    padding: 10px;
}


.text-notifications a{
    color: #666;
}
/* style icons bell */

.notifications .avatar .fa-solid {
    color: #8EDAFC ;
    background-color: #fff;

}

.bell{
    background: #fffd;
  }

  /* search bar */
  .search-chat {
    display: flex;
    align-items: center;
    background-color:  #fffd;
    padding: 5px;
    border-bottom:rgba(128, 128, 128, 0.3) solid 1px;
    
}
.glass-icon {
    margin-right: 10px;
    margin-left: 10px;
    color: #aaa;
    font-size: 12px;
}

.input-search {
   width: 100%;
  
}

.input-search input {
    width: 100%;
    border: none;
    padding: 5px;
}

.contact-list {
    flex-grow: 1;
    overflow-y: scroll;
    background-color: #fafafa;
}

.contact {
    position: relative;
    display: flex;
    align-items: center;
    list-style: none;
    padding: 10px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.3);
    
}

.contact:hover {
    background-color: #ddd;
}

.contact p{
    color: #aaa;
}


/* date contact list */
.last-date{
    position: absolute;
    right: 0;
    top: 20%;
    margin-right: 3px;
    color: #aaa;
    font-size: 10px;
}

/* sezione chat inviate e ricevute */

.chat-container {
    width: 70%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
}

.chat-header {
    display: flex;
    align-items: center;
    padding: 5px;
    background-color:#EAEAEA;
    border-bottom: 1px solid #ccc;
    position: relative;
}

.chat-messages {
    flex-grow: 1;
    padding: 20px;
    width: 100%;
    overflow-y: scroll;
    background-image: url('../img/desktop-wallpaper-message-background-whatsapp-message-background.jpg');
    background-size: contain;
}

.chat-info p{
    color: #aaa;
}

.message {
    margin-bottom: 20px;
    max-width: 60%;
    padding: 10px;
    border-radius: 10px;
    position: relative;
}

.message p {
    margin-bottom: 5px;
}

.message span {
    font-size: 10px;
    color: #aaa;
    position: absolute;
    bottom: 5px;
    right: 10px;
}

.received{
    
    width: 300px;
    background-color: #D5F9BA;
    margin-left: auto;
    margin-top: 30px;
    
}

.sent {
    max-width: 200px;
    background-color: #fff;
    border: 1px solid #ccc;
   
}

.chat-input {
    padding: 10px;
    border-top: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    background-color: #EAEAEA;
}

.chat-input input{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}