*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

/* container generale app  */

.app-container {
    display: flex;
    height: 100vh;
    width: 100%;
}
/* sezione Sidebar  */
.sidebar {
    width: 30%;
    background-color: #eaeaea;
    display: flex;
    flex-direction: column;
    padding: 2px;
}
/* sezione profilo utente ed avatar*/
.profile {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    position: relative;
}

.avatar {
    width: 50px;
    height: 50px;
    background-color: #ccc;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    margin-right: 10px;
}

/* gestione icone  */
    /* icone profilo sidebar */
.profile-icons {
    display: flex;
    gap: 10px;
    position: absolute;
    right: 0;
    margin-right: 10px;
    
}

i{
    color: #B1B1B1;
}

i:hover {
    color: #333;
}

/* icone Chat */
.chat-icons-sidebar{
    display: flex;
    gap: 10px;
    position: absolute;
    right: 0;
    margin-right: 10px;
    
}

/* icone chat input */
    /* icon before */
.before, .after{
    display: flex;
    align-items: center;
    font-size: 18px;
    
}

.before{
    padding-left: 30px;
}

.after{
    padding-right: 30px;
}




/* sezione notifiche */
.notifications {
    margin-bottom: 20px;
    display: flex;
}

.text-notifications{
   margin-top: 7px;
}

.contact-list {
    flex-grow: 1;
    overflow-y: auto;
    background-color: #fafafa;
}

.contact {
    position: relative;
    display: flex;
    align-items: center;
    list-style: none;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    
}

.contact:hover {
    background-color: #ddd;
}


/* date contact list */
.last-date{
    position: absolute;
    right: 0;
    top: 20%;
}

/* sezione chat inviate e ricevute */

.chat-container {
    width: 70%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
}

.chat-header {
    display: flex;
    align-items: center;
    padding: 5px;
    background-color:#EAEAEA;
    border-bottom: 1px solid #ccc;
    border-left: #B1B1B1 solid 1px;
    position: relative;
}

.chat-messages {
    flex-grow: 1;
    padding: 20px;
    width: 100%;
    background-color: #fafafa;
    overflow-y: auto;
}

.message {
    margin-bottom: 20px;
    max-width: 60%;
    padding: 10px;
    border-radius: 10px;
    position: relative;
}

.message p {
    margin-bottom: 5px;
}

.message span {
    font-size: 12px;
    color: #666;
    position: absolute;
    bottom: 5px;
    right: 10px;
}

.sent {
    
    width: 300px;
    background-color: #D5F9BA;
    margin-left: auto;
    padding: 20px;
    margin-top: 30px;
    text-align: left;
}

.received {
    width: 300px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    text-align: left;
}

.chat-input {
    padding: 10px;
    border-top: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    background-color: #EAEAEA;
}

.chat-input input {
    width: 700px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}